<div class="modal-head">
    <h4>Authenticate yourself</h4>
  </div>
  <mat-dialog-content class="mat-typography">
          <mat-form-field>
              <mat-label>Enter Password</mat-label>
              <input matInput type="password" maxlength="10" minlength="5" [(ngModel)]="passwordEntered">
              <mat-error>Password is Required (minimum 5 Char)</mat-error>
          </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <div class="text-right btn-wrap">
        <button class="btn btn-primary" type="submit" (click)="authenticateUser()" [disabled]="!isPasswordCorrect" >
    Submit
  </button>
    </div>
  </mat-dialog-actions>
